.first-example {
  text-align: center; }
  .first-example .svg-icon-aeropress {
    height: 1.5em;
    width: 0.90667em; }
  .first-example .svg-icon-americano {
    height: 1.5em;
    width: 1.70455em; }
  .first-example .svg-icon-coffee-grinder {
    height: 1.5em;
    width: 1.11628em; }
  .first-example .svg-icon-espresso-machine {
    height: 1.5em;
    width: 1.5em; }
  .first-example .svg-icon-portafilter {
    height: 1.5em;
    width: 3.54545em; }

.second-example {
  text-align: center; }
  .second-example .svg-icon-aeropress {
    height: 50px;
    width: 30.22222px; }
  .second-example .svg-icon-americano {
    height: 50px;
    width: 56.81818px; }
  .second-example .svg-icon-coffee-grinder {
    height: 50px;
    width: 37.2093px; }
  .second-example .svg-icon-espresso-machine {
    height: 50px;
    width: 50px; }
  .second-example .svg-icon-portafilter {
    height: 50px;
    width: 118.18182px; }

.third-example .icon-wrapper-aeropress {
  position: relative; }
  .third-example .icon-wrapper-aeropress:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 165.44118%; }
  .third-example .icon-wrapper-aeropress > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

.third-example .icon-wrapper-americano {
  position: relative; }
  .third-example .icon-wrapper-americano:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 88%; }
  .third-example .icon-wrapper-americano > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

.third-example .icon-wrapper-coffee-grinder {
  position: relative; }
  .third-example .icon-wrapper-coffee-grinder:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 134.375%; }
  .third-example .icon-wrapper-coffee-grinder > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

.third-example .icon-wrapper-espresso-machine {
  position: relative; }
  .third-example .icon-wrapper-espresso-machine:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 100%; }
  .third-example .icon-wrapper-espresso-machine > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

.third-example .icon-wrapper-portafilter {
  position: relative; }
  .third-example .icon-wrapper-portafilter:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 42.30769%; }
  .third-example .icon-wrapper-portafilter > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

svg {
  outline: 1px dashed red; }

.icon-wrapper {
  outline: 1px dotted green; }

html body {
  padding: 0 2rem 2rem; }

@media (min-width: 700px) {
  main section {
    float: left;
    width: 50%; }
  main:after {
    content: '';
    display: block;
    clear: both; } }

.example > .icon-wrapper {
  float: left;
  width: 19%; }

.example:after {
  content: '';
  display: block;
  clear: both; }
