// All you need is to include the mixins and the svg map with the aspect ratios
@import '../sprite/svg-map.scss';
@import 'mixins';

html body {
  padding: 2rem;
}

svg {
  outline: 1px dashed red;
}

.icon-wrapper {
  outline: 1px dotted green;
}

// Example usage with fixed 50px height
.first-example {
  text-align: center;

  .svg-icon-aeropress {
    @include svg-icon-dimensions-by-height('aeropress', 50px);
  }
  .svg-icon-americano {
    @include svg-icon-dimensions-by-height('americano', 50px);
  }
  .svg-icon-coffee-grinder {
    @include svg-icon-dimensions-by-height('coffee-grinder', 50px);
  }
  .svg-icon-espresso-machine {
    @include svg-icon-dimensions-by-height('espresso-machine', 50px);
  }
  .svg-icon-portafilter {
    @include svg-icon-dimensions-by-height('portafilter', 50px);
  }

  // Simple cross browser equal column grid.
  > .icon-wrapper {
    display: inline-block;
    width: 19%;
  }
}

// Simple example with 100px height @todo change to 50px width
.second-example {
  text-align: center;

  .svg-icon-aeropress {
    @include svg-icon-dimensions-by-height('aeropress', 100px);
  }
  .svg-icon-americano {
    @include svg-icon-dimensions-by-height('americano', 100px);
  }
  .svg-icon-coffee-grinder {
    @include svg-icon-dimensions-by-height('coffee-grinder', 100px);
  }
  .svg-icon-espresso-machine {
    @include svg-icon-dimensions-by-height('espresso-machine', 100px);
  }
  .svg-icon-portafilter {
    @include svg-icon-dimensions-by-height('portafilter', 100px);
  }

  // Simple cross browser equal column grid.
  > .icon-wrapper {
    display: inline-block;
    width: 19%;
  }
}

// Example usage with as responsive icon
.third-example {

  // Simple cross browser equal column grid.
  > .icon-wrapper {
    display: inline-block;
    width: 20%;
  }
}
