// All you need is to include the mixins and the generated svg map with the aspect ratios
@import '../sprite/svg-map.scss';
@import 'mixins';

$first-size: 1.5em;
$second-size: 50px;

.first-example {
  text-align: center;

  .svg-icon-aeropress {
    @include svg-icon-dimensions-by-height('aeropress', $first-size);
  }
  .svg-icon-americano {
    @include svg-icon-dimensions-by-height('americano', $first-size);
  }
  .svg-icon-coffee-grinder {
    @include svg-icon-dimensions-by-height('coffee-grinder', $first-size);
  }
  .svg-icon-espresso-machine {
    @include svg-icon-dimensions-by-height('espresso-machine', $first-size);
  }
  .svg-icon-portafilter {
    @include svg-icon-dimensions-by-height('portafilter', $first-size);
  }
}

.second-example {
  text-align: center;

  .svg-icon-aeropress {
    @include svg-icon-dimensions-by-height('aeropress', $second-size);
  }
  .svg-icon-americano {
    @include svg-icon-dimensions-by-height('americano', $second-size);
  }
  .svg-icon-coffee-grinder {
    @include svg-icon-dimensions-by-height('coffee-grinder', $second-size);
  }
  .svg-icon-espresso-machine {
    @include svg-icon-dimensions-by-height('espresso-machine', $second-size);
  }
  .svg-icon-portafilter {
    @include svg-icon-dimensions-by-height('portafilter', $second-size);
  }
}

// Example usage with as responsive icon
.third-example {

  .icon-wrapper-aeropress {
    @include svg-icon-responsive-wrapper('aeropress');
  }
  .icon-wrapper-americano {
    @include svg-icon-responsive-wrapper('americano');
  }
  .icon-wrapper-coffee-grinder {
    @include svg-icon-responsive-wrapper('coffee-grinder');
  }
  .icon-wrapper-espresso-machine {
    @include svg-icon-responsive-wrapper('espresso-machine');
  }
  .icon-wrapper-portafilter {
    @include svg-icon-responsive-wrapper('portafilter');
  }
}

// Coloring
svg {
  outline: 1px dashed red;
}

.icon-wrapper {
  outline: 1px dotted green;
}

// Layout
html body {
  padding: 0 2rem 2rem;
}

main {
  @media(min-width: 700px) {
    section {
      float: left;
      width: 50%;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.example {
  // Simple cross browser equal column grid.
  > .icon-wrapper {
    float: left;
    width: 19%;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
